/* common settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 550px;
  min-height: 9px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, a {
  text-decoration: none;
  color: #b3b3b3;
}

.container_big {
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.white {
  color: #fff;
}
/* fine common settings */
/* inizio common settings header */
.header {
  float: left;
  width: 230px;
  height: 100%;
}

.nav_bar_top {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #000;
}

.nav_bar_top a {
  display: block;
}

.nav_bar_top .top .menu svg,
.nav_bar_top .middle .playlist svg,
.nav_bar_top .bottom .btn_install svg {
  margin-right: 10px;
  vertical-align: middle;
  fill: #b3b3b3;
}

.nav_bar_top li:hover a,
.nav_bar_top li:hover svg,
.nav_bar_top .top .menu li:hover a,
.nav_bar_top .top .menu li:hover svg,
.nav_bar_top .middle .btn_playlist:hover span,
.nav_bar_top .bottom .btn_install:hover svg,
.nav_bar_top .bottom .btn_install:hover span {
  color: #fff;
  fill: #fff;
}

.nav_bar_top .middle .btn_playlist:hover .plus{
  background-color: #fff;
}
/* fine common settings header */

/* inizio navbar top top */
.nav_bar_top .top .logo {
  width: 130px;
  height: 40px;
  margin-bottom: 20px;
}

.nav_bar_top .top .logo-small {
  display: none;
  width: 30px;
  margin: 15px 0 20px 0;
}

.nav_bar_top .top .menu li {
  margin-bottom: 15px;
}

.nav_bar_top .top .menu li:last-child {
  margin-bottom: 20px;
}

.nav_bar_top .top .menu li:first-child {
  position: relative;
}

.nav_bar_top .top .menu li:first-child::before {
  position: absolute;
  content: '';
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 3px;
  height: 32px;
  background-color: #a4eb34;
}
/* fine navbar top top */

/* inizio navbar top middle */
.nav_bar_top .middle {
  /* .top 166px + .top li 20px + .bottom 78.719px */
  height: calc(100% - 264.719px);
}

.nav_bar_top .middle .btn_playlist {
  margin: 15px 0;
}

.nav_bar_top .middle .plus {
  width: 32px;
  margin-right: 10px;
  background-color: #b3b3b3;
  vertical-align: middle;
}

.nav_bar_top .middle .playlist {
  /* h4 22px + btn_playlist 62px */
  height: calc(100% - 84px);
  overflow-y: scroll;
}

.nav_bar_top .middle .playlist li {
  margin: 10px 0;
}
/* fine navbar top middle */

/* inizio navbar top bottom */
.nav_bar_top .bottom .btn_install {
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

.nav_bar_top .bottom .download {
  width: 20px;
}

.nav_bar_top .bottom .btn_profile {
  margin-top: 15px;
}

.nav_bar_top .bottom .btn_profile span {
  color: #fff;
  font-weight: 700;
}

.nav_bar_top .bottom .btn_profile img {
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
}
/* fine navbar top bottom */
/* fine header */

/* inizio main */
.main {
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  background-color: #141922;
}

.main .upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 80px;
  background-color: rgba(8, 11, 18, 0.5);
  z-index: 1;
}

.main .btn_upgrade {
  margin-right: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 8px 40px;
}

.main .btn_upgrade:hover {
  transform: scale(1.05);
}

.main .box_main {
  width: 100%;
  margin-top: 80px;
}

.main .box_main .music a {
  display: inline-block;
}

.main .box_main .nav_bar_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main .box_main .nav_bar_main li{
  margin: 10px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

.main .box_main .nav_bar_main li:first-child::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 32px;
  height: 3px;
  background-color: #a4eb34;
}

.main .box_main .nav_bar_main a:hover{
  color: #fff;
}

.main .box_main .music .row {
  display: flex;
  flex-wrap: wrap;
}

.main .box_main .music .box_music {
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.main .box_main .music .box_music .overlay {
  position: relative;
}

.main .box_main .music .box_music .overlay i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 60px;
  display: none;
}

.main .box_main .music .box_music .overlay:hover i {
  display: block;
}

.main .box_main .music .box_music img {
  width: 100%;
}

.main .box_main .music .box_music .overlay:hover img {
  filter:brightness(50%);
}

.main .box_main h2{
  color: #fff;
  margin: 10px;
  font-size: 28px;
}

.main .box_main h3{
  color: #fff;
  font-size: 14px;
  margin: 5px 0;
}

.main .box_main h4{
  font-size: 12px;
  margin: 5px 0;
}

.main .box_main .daily h4,
.main .box_main .popolar h4{
  margin: 0 0px 10px 10px;
}

.main .box_main .popolar img{
  border-radius: 50%;
}
/* fine main */
/* inizio footer */
.footer {
  background-color: #282828;
  z-index: 2;
}

.nav_bar_bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_bar_bottom .sx,
.nav_bar_bottom .center,
.nav_bar_bottom .dx {
  width: calc(100% / 3);
}

.nav_bar_bottom .sx img {
  width: 50px;
}

.nav_bar_bottom .sx{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

.nav_bar_bottom .sx .box_info a {
  display: block;
}

.nav_bar_bottom .sx .box_info a:first-child{
  color: #fff;
  font-weight: 700;
}

.nav_bar_bottom .sx .heart,
.nav_bar_bottom .sx .folder{
  margin: 0 10px;
}

.nav_bar_bottom .sx .heart:hover,
.nav_bar_bottom .sx .folder:hover{
  color: #fff;
}

.nav_bar_bottom .sx .box_info {
  margin: 0 40px 0 10px;
}

.nav_bar_bottom .center {
  height: 100%;
}

.nav_bar_bottom .center .top{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.nav_bar_bottom .center .top a {
  margin: 10px;
  font-size: 14px;
  color: #fff;
}

.nav_bar_bottom .center .top .play {
  margin: 15px;
  font-size: 28px;
}

.nav_bar_bottom .center .top .play:hover{
  transform: scale(1.2);
}

.nav_bar_bottom .center .bottom{
  display: flex;
  justify-content: center;
  height: 40%;
  align-items: baseline;
}

.nav_bar_bottom .center .bottom span:nth-child(1) {
  margin-right: 20px;
  font-size: 12px;
  color: #fff;
}

.nav_bar_bottom .center .bottom span:nth-child(3) {
  margin-left: 20px;
  font-size: 12px;
  color: #fff;
}

.nav_bar_bottom .center .bottom .bar{
  width: 70%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(56, 56, 56);
  position: relative;
}

.nav_bar_bottom .center .bottom .bar::before{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(170, 170, 170);
  width: 10%;
  height: 4px;
  content: '';
  border-radius: 2px;
}

.nav_bar_bottom .center .bottom .bar:hover::before,
.nav_bar_bottom .dx .bar:hover::before{
  background-color: #a4eb34;
}

.nav_bar_bottom .center .bottom .bar:hover::after{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  content: '';
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.nav_bar_bottom .dx{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.nav_bar_bottom .dx a {
  margin: 0 10px;
}

.nav_bar_bottom .dx a:nth-child(3){
  margin-right: 20px;
}

.nav_bar_bottom .dx a:hover {
  color: #fff;
}

.nav_bar_bottom .dx .bar{
  width: 30%;
  height: 4px;
  background-color: rgb(56, 56, 56);
  border-radius: 2px;
  position: relative;
}

.nav_bar_bottom .dx .bar::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 4px;
  background-color: rgb(170, 170, 170);
  content: '';
  border-radius: 2px;
}

.nav_bar_bottom .dx .bar:hover::after{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  content: '';
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/* fine footer */
/* inizio MEDIAQUERY width*/
@media screen and (max-width: 575px) {
  .header {
    width: 60px;
    text-align: center;
  }

  .nav_bar_top {
    padding: 5px;
  }

  .nav_bar_top .top .logo,
  .nav_bar_top .top .menu span,
  .nav_bar_top .middle .white,
  .nav_bar_top .middle .btn_playlist,
  .nav_bar_top .middle .playlist,
  .nav_bar_top .bottom .btn_install span,
  .nav_bar_top .bottom .btn_profile span {
    display: none;
  }

  .nav_bar_top .top .logo-small {
    display: inline-block;
  }

  .nav_bar_top .top .menu li:first-child::before {
    left: -5px;
  }

  .nav_bar_top .top .menu svg {
    margin-right: 0;
  }

  .nav_bar_top .middle {
    /* .top 171px + .top li 20px + .bottom 77.719px + .bottom img 15px; */
    height: calc(100% - 283.719px);
  }

  .nav_bar_top .bottom .btn_install {
    border: 0px;
  }

  .nav_bar_top .bottom .btn_profile {
    margin: 15px 0;
  }

  .nav_bar_top .bottom .btn_install .download,
  .nav_bar_top .bottom .btn_profile img {
    margin-right: 0;
  }

  .main {
    width: calc(100% - 60px);
  }

  .upgrade {
    width: calc(100% - 60px);
  }

  .main .box_main .music .row {
    justify-content: flex-start;
  }

  .main .box_main .music .box_music {
    width: calc(100% / 2 - 20px);
    margin: 5px;
  }

  .nav_bar_bottom .sx .box_info {
    margin: 0 10px;
  }

  .nav_bar_bottom .sx .heart,
  .nav_bar_bottom .sx .folder{
    
  }
}

@media screen and (min-width: 576px) {
  .upgrade {
    width: calc(100% - 230px);
  }

  .main .box_main .music .row {
    justify-content: flex-start;
  }

  .main .box_main .music .box_music {
    width: calc(100% / 2 - 20px);
    margin: 5px;
  }

  .nav_bar_bottom .sx .box_info {
    margin: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .main .box_main .music .row {
    justify-content: flex-start;
  }

  .main .box_main .music .box_music {
    width: calc(100% / 4 - 20px);
    margin: 5px;
  }

  .nav_bar_bottom .sx .box_info {
    margin: 0 10px;
  }
}

@media screen and (min-width: 992px) {
  .main .box_main .music .row {
    justify-content: flex-start;
  }

  .main .box_main .music .box_music {
    width: calc(100% / 6 - 20px);
    margin: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .main .box_main .music .row {
    justify-content: flex-start;
  }

  .main .box_main .music .box_music {
    width: calc(100% / 6 - 20px);
    margin: 10px;
  }

  .nav_bar_bottom .sx .box_info {
    margin: 0 40px 0 10px;
  }
}
/* fine MEDIAQUERY width*/
/* MEDIAQUERY height */
@media screen and (max-height: 575px) {
  .nav_bar_top .middle{
    height: 185px;
  }
}
